:root{
    --lightBrown: #EDDFB3;
    --lightBrown_hover: #CA955C;
}

*{
    font-family: 'Merriweather', serif;
}

.font2{
    
    font-family: 'Merienda', cursive;
}

.custom-color
{
    background-color: var(--lightBrown);
    border: 1px solid var(--lightBrown);
}

.custom-color:hover
{
    background-color: var(--lightBrown_hover);
    border-color: var(--lightBrown_hover);
}

.custom-alert{
    position: fixed;
    top: 200px;
    right: 25px;
    z-index: 111;
}

.line1
{
    width: 150px;
    height: 2px;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] {
-moz-appearance: textfield;
}